$nav_menu: (
        'top',
        'main'
)!default;

$menu_fs: (
        'top':12px,
        'main':18px
)!default;

$menu_flh: (
        'top':15px,
        'main':22px
)!default;
$row-padding-y: (
        50:50px,
        60:60px,
        70:70px,
        80:80px,
        90:90px,
        100:100px
);
@each $key, $value in $row-padding-y {
  .py-#{$key}{
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .pby-#{$key}{
    padding-bottom: $value !important;
  }
  .pty-#{$key}{
    padding-top: $value !important;
  }
}

.kp-shadow{
  /*box-shadow: 3px 4px 25px rgba(0,0,0,0.15)!important;*/
  box-shadow: 0px 0px 12px rgb(0,0,0,0.10)!important;
}
.kp-rounded{
  border-radius: 30px!important;
}

$primary_color: #4889F8;
$bg-gradient: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%)!default;

.bg-gradient {
  background: $bg-gradient !important;
}
.btn-primary {
  background-color: $primary_color;
  color: #ffffff;
}
.btn-transparent {
  background-color: transparent !important;
  color: #000000;
  border-color: #000000;
}
$font-family: 'Montserrat';

@each $key1, $value1 in $nav_menu {
  .header__#{$key1} {
    @if ($key1 == "top") {
      /*height: 43px*/
      background-color: #F0F6FF;
    }
    @if ($key1 == "main") {
      /*height: 88px*/
    }
  }
  .nav_menu_#{$key1} {
    @if ($key1 == "main") {
      float: right
    }
    .nav-item {
      margin: 0;
      &:first-child {
        .nav-link {
          padding-left: 0px;
        }
      }
      &:last-child {
        .nav-link {
          padding-right: 0px;
        }
      }
      .nav-link {
        font-family: $font-family;
        font-weight: 500;
        color: #212121;

        @if ($key1 == "top") {
          padding: 14px 20px;
          font-size: map_get($menu_fs, "top");
          line-height: map_get($menu_flh, "top");
        }

        @if ($key1 == "main") {
          padding: 33px 20px;
          font-size: map_get($menu_fs, "main");
          line-height: map_get($menu_flh, "main");
        }

      }
    }
  }
}


.logo {
  svg {
    width: 53px;
    height: 51.8px;
    margin-right: 40px;
  }
  &__slogan{
    font-family: $font-family;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
}


.contact-info {
  a {
    font-family: $font-family;
    font-weight: 700;
    font-size: map_get($menu_fs, "top");
    line-height: map_get($menu_flh, "top");
  }
  button{
    font-family: $font-family;
    padding: 6px 18px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    margin-left:40px;
    border-radius: 12px;
  }
}


.slider-block {
  .themed-grid-col {
    padding: 0;
  }
  .left-column {
    .slider-block__title {
      font-family: 'Manrope';
      font-weight: 500;
      font-size: 52px;
      line-height: 62px;

      text-transform: uppercase;

      color: $primary_color;
      padding-bottom: 40px;
    }
    .slider-block__description {
      font-family: 'Manrope';
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;
      padding-bottom: 72px;
    }
    a.btn {
      font-family: 'Manrope';
      padding-top: 12px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      border-radius: 12px;
      border:0;
    }
  }
  .right-column {
    padding: 0;
    position: absolute;
    right: 0;
    .index-block--item-slider {
      height: 543px;
      .indicators {
        margin-left: 150px;
        justify-content: left;
        position: absolute;
        bottom: 44px;
        display: flex;
        align-items: center;
        .owl-dot{
          &.active {
            .text-bg {
              font-size: 24px;
              line-height: 33px;
              text-transform: uppercase;
              background: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%) no-repeat;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              /*&:first-child::after {
                content: url('data:image/svg+xml,<svg width="101" height="16" viewBox="0 0 101 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M99.974 4.35356C100.169 4.1583 100.169 3.84172 99.974 3.64645L96.7921 0.464472C96.5968 0.26921 96.2802 0.26921 96.085 0.464472C95.8897 0.659735 95.8897 0.976317 96.085 1.17158L98.9134 4.00001L96.085 6.82843C95.8897 7.0237 95.8897 7.34028 96.085 7.53554C96.2802 7.7308 96.5968 7.7308 96.7921 7.53554L99.974 4.35356ZM-5.80607e-08 4.5L99.6205 4.50001L99.6205 3.50001L5.80607e-08 3.5L-5.80607e-08 4.5Z" fill="white"/></svg>');
                margin-left: 10px;
                margin-right: 0px;
              }*/
            }
            &:not(:last-child)::after {
              content: url('data:image/svg+xml,<svg width="101" height="8" viewBox="0 0 101 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M99.974 4.35356C100.169 4.1583 100.169 3.84172 99.974 3.64645L96.7921 0.464472C96.5968 0.26921 96.2802 0.26921 96.085 0.464472C95.8897 0.659735 95.8897 0.976317 96.085 1.17158L98.9134 4.00001L96.085 6.82843C95.8897 7.0237 95.8897 7.34028 96.085 7.53554C96.2802 7.7308 96.5968 7.7308 96.7921 7.53554L99.974 4.35356ZM-5.80607e-08 4.5L99.6205 4.50001L99.6205 3.50001L5.80607e-08 3.5L-5.80607e-08 4.5Z" fill="white"/></svg>');
              margin-left: 0px;
              margin-right: 20px;
            }
          }
          .text-bg {
            box-sizing: content-box;
            flex: 0 1 auto;
            font-family: 'Manrope', sans-serif;


            font-size: 16px;
            line-height: 22px;
            padding: 0;

            text-transform: uppercase;
            background: transparent;
            color: #fff;

            font-style: normal;
            font-weight: 700;

            width: 30px;
            height: 30px;
            margin-right: 20px;
            margin-left: 10px;
            text-indent: -999px;
            cursor: pointer;
            border: 0;
            opacity: 1;
            transition: opacity .6s ease;
            vertical-align: middle;

            &:first-child {
              margin-left: 0px;
            }
          }
        }
      }

      .carousel-variables-views{
        margin-right: 20px;
        justify-content: left;
        position: absolute;
        bottom: 28px;
        right: 0;
        h5{
          font-family: 'Manrope', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 15px;
          color: #FFFFFF;
          text-align: right;
        }
        .point-indicators {
          display: flex;
          align-items: center;
          padding-bottom: 9px;
          justify-content: flex-end;
          .point {
            cursor: pointer;
            background: linear-gradient(92.8deg, #2C2C2C -7.16%, #2C2C2C 106.18%);
            width: 30px;
            height: 30px;
            margin-left: 16px;
            border: 0;
            border-radius: 50%;
            display:flex;
            align-items: center;
            justify-content: center;
            transition: background .6s ease-in-out;
            &.hidden {
              display:none;
            }
            svg {
              width:50%;
              pointer-events: none;
            }
            &.varYandex{
              svg {
                width:30%;
              }
            }
            &:hover{
              background: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%);

              svg {
                path{
                  fill-opacity:1;
                  stroke-opacity:1;
                }
              }
            }
          }
        }
      }
      
      .inner {
        border-radius: 240px 0px 0px 240px;
        position: relative;
        overflow: hidden;
        width: 100%;
        .owl-item {
          float: left;
          height: 543px;

          .item {
            position: relative;
            height: 100%;

            iframe {

            }

            img {
              width: 100%;
            }
            .carousel-caption {
              background: linear-gradient(180deg, #333333 -35.54%, rgba(51, 51, 51, 0.2) 157.44%);
              width: 100%;
              padding-left: 150px;
              left: 0;
              bottom: 0;
              text-align: left;
              padding-top: 22px;
              padding-bottom: 84px;

              h5 {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-transform: capitalize;
                margin-bottom: 6px;
              }

              .place-point {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 300;
                font-size: 10px;
                line-height: 14px;
                margin-bottom: 12px;
              }
              .place-category {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}
.popup-window-overlay {
  width: 100%;
}
div#call_google_viewer {
  width: 100%;
  height: 100%;
  border-radius: 173px 0 0 173px;
  left: 0 !important;
  overflow: hidden;
  padding: 0;
  .popup-window-close-icon{
    width:40px;
    height:40px;
    bottom: 111px !important;
    &:after{
      width:20px;
      height:20px;
    }

  }
  .viewer-content {
    height: 100%;
    #hideblock {
    }
    .carousel-caption {
      background: linear-gradient(180deg, #333333 -35.54%, rgba(51, 51, 51, 0.2) 157.44%);
      width: 100%;
      padding-left: 150px;
      left: 0;
      bottom: 0;
      text-align: left;
      padding-top: 22px;
      padding-bottom: 84px;
    }

  }

}



/*------------SVG-------------*/
/*background*/
.bg-gradient {
  .svg.inline {
    margin-left: 30px;

    &.fill svg {
      fill: white;
    }

    &.stroke svg{
      stroke: white;
    }
  }
}

.bg-primary {
  .svg.inline {
    margin-left: 30px;

    &.fill svg {
      fill: white;
    }

    &.stroke svg{
      stroke: white;
    }
  }
}
.bg-transparent {
  .svg.inline {
    margin-left: 30px;

    &.fill svg {
      fill: black;
    }

    &.stroke svg{
      stroke: black;
    }
  }
}
.svg.inline {

  &.fill svg {
    fill: #4889F8;
  }

  &.stroke svg{
    stroke: #4889F8;
  }
}


.stroke-theme-hover:hover *,
.stroke-theme-use-svg-hover:hover *,
.stroke-theme-parent:hover > .stroke-theme-target,
.stroke-theme-parent-all:hover .stroke-theme-target * {
  stroke: #9e9e9e;
  stroke: var(--theme-base-color);
}
.fill-theme-hover:hover *,
.fill-theme-use-svg-hover:hover *,
.fill-theme-parent:hover > .fill-theme-target,
.fill-theme-parent-all:hover .fill-theme-target * {
  fill: #9e9e9e;
  fill: var(--theme-base-color);
}
/*******************/
.index-block--OFFERS {
  .col-md-6:nth-child(2){
    margin-bottom: 42px;
  }
  .offers-block__inner {
    &.card {
      padding: 50px;
      height: 100%;
      min-height: 100%;
      justify-content: center;
    }

    .offers-block__item {
      gap: 42px;
      .svg {
        path {
            fill: var(--bs-primary);
        }
      }
      .offers-item__inner {
        h2.index-block__title {
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 52px;
          line-height: 71px;
        }
        .offers-item__title {
          display: block;
          font-family: 'Manrope';
          font-weight: 500;
          font-size: 24px;
          line-height: 22px;
          padding-bottom: 18px;
        }

        .offers-item__description {
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
.index-block--SERVICES {
  padding-bottom: 186px;
  .services-block--inner {
    .services-block--item {

      .index-block__preview {
        margin-top:0px;
        margin-bottom: 39px;
      }

      .services-item__inner {
        display: flex;
        align-items: center;
        h2.index-block__title {
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 52px;
          line-height: 71px;
        }
        a.index-block__link {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: var(--bs-primary);
          &:hover{
            color: var(--theme-base-color);
            .index-block__arrow .svg.inline.fill svg{
              fill: var(--theme-base-color);
            }
          }
          .index-block__arrow {
            margin-left: 0;
            margin-right: 15px;
          }
        }
      }
    }
    .service-types-block {
      .tabs {
        margin-bottom: 37px;
        ul.nav {
          &.nav-tabs {
            background: #FFFFFF;
            box-shadow: 0px 0px 12px rgb(0 0 0 / 10%);
            border-radius: 44px;
            display: inline-flex;
            .nav-item {
              margin:0;
              padding: 5px 8px;
              .nav-link {
                border: 0;
                border-radius: 44px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                text-align: center;
                color: #000000;
                padding: 23px 30px;
                &.active {
                  color: #ffffff;
                  border-color: var(--theme-base-color);
                  background: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%), #FFFFFF;
                }
              }
            }
          }
        }
      }
      .tab-pane {
        .service-card {
          padding:30px;
          .btn{
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

.index-block--STEPS {
  padding-bottom: 100px;
  .steps-block__wrapper {
    .steps-block__inner {
      h2.index-block__title {
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 52px;
        line-height: 71px;
      }
      .steps-block__item {
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        i{
          margin-bottom: 18px;
          display: inline-flex;
          justify-content: flex-end;
        }
        .item-inner {
          span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            a{
              position: relative;
              color: #000000;
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%);
              }
            }
          }
          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.index-block--TIZERS {
  padding-bottom: 76px;

  .tizers-block--inner {
    .tizers-block--item {

      .index-block__preview {
        margin-top: 0px;
        margin-bottom: 39px;
        max-width: 100%;
        color: #000000;
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .tizers-item__inner {
        display: flex;
        align-items: center;

        h2.index-block__title {
          font-family: 'Manrope';
          font-weight: 400;
          font-size: 52px;
          line-height: 71px;
        }

        a.index-block__link {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: var(--bs-primary);

          &:hover {
            color: var(--theme-base-color);

            .index-block__arrow .svg.inline.fill svg {
              fill: var(--theme-base-color);
            }
          }

          .index-block__arrow {
            margin-left: 0;
            margin-right: 15px;
          }
        }
      }
    }
    .reviews {
      .reviews-list__item {
        padding:20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
        border-radius: 30px;
        .reviews-list__item-top-part {
          display: flex;
          margin: 0;
          flex: auto;
          justify-content: space-between;
          .reviews-list__item-info-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            .reviews-list__item-info {
              margin-left: 24px;
            }
            .reviews-list__item-image-wrapper {
              width: 100px;
              height: 100px;
              .reviews-list__item-image {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
        }
        .reviews-list__item-preview {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
      .owl-nav {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button {
          position: relative;
          padding:0;
          border: 0;
          &.owl-prev {
            transform: translateX(-21px);
          }
          &.owl-next {
            transform: translateX(21px);
          }
          i {
            &.owl-carousel__button {
              transform: translateY(0%);
              &:hover {
                background:transparent;
                svg * {
                  stroke: transparent;
                  fill: var(--theme-base-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

.index-block--FAQ {
  .faq-block--inner {
    .faq-block--item {
      h2.index-block__title {
        font-family: "Manrope";
        font-weight: 400;
        font-size: 52px;
        line-height: 71px;
      }
      .index-block__preview {
        margin-top: 0px;
        margin-bottom: 39px;
        max-width: 100%;
        color: #000000;
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
        }
      }
      .faq-item__inner {
        display: flex;
        align-items: center;

        a.index-block__link {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          color: var(--bs-primary);
          .index-block__arrow {
            margin-left: 0;
            margin-right: 15px;
          }
        }
        a.index-block__link:hover {
          color: var(--theme-base-color);
          .index-block__arrow .svg.inline.fill svg {
            fill: var(--theme-base-color);
          }
        }

      }
    }
    .accordion {
      .accordion-item {
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
        border-radius: 30px;
        margin-bottom: 56px;
        &:hover {
          box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.1);
        }
        .accordion-header {
          border-radius: 30px;
          .accordion-button {
            background: #FFFFFF;
            border: 0;
            box-shadow: none;
            border-radius: 30px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 22px;
            padding: 28px 42px;

            &:not(.collapsed) {
              border-radius: 30px 30px 0 0;
              background: #4889F8;
              color: #FFFFFF;
              &::after {
                background-image: var(--bs-accordion-btn-icon);
              }
            }
          }
        }
        .accordion-collapse {

          &.show {
            .accordion-body {
              border-radius: 0px 0px 30px 30px;
            }
          }
          .accordion-body {
            border-radius: 0px 0px 30px 30px;
            padding: 0px 42px 28px;
            background: #4889F8;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 44px;
  background: #2F2F2F;
  .footer-block {
    padding-top: 96px;
    padding-bottom: 43px;
    .footer-copyright {
      margin-top: 80px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
    }
    .footer-block--inner{
      svg {
        margin-bottom: 52px;
      }
      .footer-block--text {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
        margin-bottom: 6px;
      }
      .footer-block--form {
        .form-header{
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 66px;
          color: #FFFFFF;
          padding-bottom: 24px;
        }
        .form-description{
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          padding-bottom: 32px;
        }
        .form-label {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          padding-bottom: 10px;
        }
        input.form-control {
          border-radius: 19px;
          padding: 10px 24px;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 20px;
        }
        button[type="submit"] {
          margin-top: 36px;
          background: linear-gradient(92.8deg, #4889F8 -7.16%, #5ACA87 106.18%);
          border-radius: 12px;
          padding: 16px;
        }
        .form-check {
          label.form-check-label {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}